name: CI

on:
  - push
  - pull_request

jobs:

  nix-build:
    name: Nix default
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: cachix/install-nix-action@v19
      - run: nix build -L
      - run: nix develop -L -c echo "All good"

  nix-matrix:
    name: Nix ${{ matrix.ghc }}
    strategy:
      matrix:
        ghc: [ ghc8107, ghc902, ghc927, ghc945, ghc962 ]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: cachix/install-nix-action@v19
      - name: build shell
        run: nix build -L .#devShells.x86_64-linux.${{ matrix.ghc }}-shell
      - name: cabal build in shell
        run: nix develop -L .#devShells.x86_64-linux.${{ matrix.ghc }}-shell -c cabal new-build
      - name: nix build
        run: nix build -L .#apps.x86_64-linux.calligraphy-${{ matrix.ghc }}

  stack-build:
    name: Stack ${{ matrix.resolver }} on ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        resolver: [ nightly, lts-20, lts-19, lts-18, lts-17, lts-16, lts-15 ]
        os: [ macos-latest, ubuntu-latest ]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3
      - uses: haskell/actions/setup@v2
        with:
          enable-stack: true
      - run: stack init --resolver ${{ matrix.resolver }}
      - run: stack build --resolver ${{ matrix.resolver }} --only-dependencies
      - run: stack build --resolver ${{ matrix.resolver }}
      - run: stack build --resolver ${{ matrix.resolver }} --haddock --test --bench --no-run-benchmarks

  cabal-build:
    name: Cabal with GHC ${{ matrix.ghc }} on ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        ghc: [ '8.8.4', '8.10.7', '9.0.2', '9.2.7', '9.4.4', '9.6.1' ]
        os: [ ubuntu-latest, macos-latest ]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3
      - uses: haskell/actions/setup@v2
        with:
          ghc-version: ${{ matrix.ghc }}
      - uses: actions/cache@v3
        with:
          path: |
            ~/.cabal
            dist-newstyle
          key: cabal-cache-${{ matrix.os }}-${{ matrix.ghc }}-${{ hashFiles('**/*.cabal') }}
      - run: cabal new-build --only-dependencies
      - run: cabal new-build --ghc-options=-fwrite-ide-info
      - run: cabal new-test --test-show-details=direct
      - name: Test against reference
        run: |
          cabal new-exec calligraphy -- Test.Reference -d out.dot --hide-types
          diff -u test/Test/Reference.dot out.dot
